# MAILJET
MAILJET_API_KEY_PUBLIC=XXX
MAILJET_API_KEY_PRIVATE=XXX
MAILJET_EMAIL_SENDER=noreply@valentinbaudin.ch

# CONFIG
runmode=development

# API
TWELVE_DATA_API_KEY=XXX

# POPULATE
S3_ACCESS_KEY=XXX                                                                                                                             
S3_SECRET_KEY=XXX
